<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Place</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield">
                <input class="mdl-textfield__input" type="text" id="search-place-form" placeholder="Search your place..">
            </div>
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search"><i class="material-icons">search</i></label>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item">About</li>
                <li class="mdl-menu__item">Setting</li>
                <a href="/"> <li class="mdl-menu__item"> Logout</li></a>
            </ul>
        </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
            <img src="/images/user.jpg" class="demo-avatar">
            <div class="demo-avatar-dropdown">
                <span>{{Username}}</span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" href="/places"><i class="material-icons">location_on</i>Place</a>
            <div class="mdl-layout-spacer"></div>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <form name="place" action="/places/" method="post">
            <div class="container mdl-grid">
                <div class="col-lg-12">
                    <div id="placeDetail">
                        <div class="btn-group col-md-12">
                            <button class="btn btn-raised btn-default col-md-4" id="cancel" title="Close" onclick="location.href='/places'"><span class="glyphicon glyphicon-remove"></span> Close</button>
                            <button type="button" class="btn btn-raised btn-danger col-md-4" id="deletePlace" title="Delete"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                            <button type="submit" class="btn btn-raised btn-success col-md-4" id="savePlace" title="Save" value="submit"><span class="glyphicon glyphicon-save"></span> Save</button>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{place.name}}">
                            <div id="errorName" class="alert alert-danger alert-dismissable" style="display: none;">
                                <strong>Please Input Name</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address" value="{{place.address}}">
                            <div id="errorAddress" class="alert alert-danger alert-dismissable" style="display: none;">
                                <strong>Please Input Address</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="latitude" nama="latitude" value="-6.919807056415574">
                            <input type="hidden" class="form-control" id="longitude" name="longitude" value="107.60328703797609">
                            <button type="button" class="btn btn-raised btn-info btn-block" id="viewMap" title="View Map">
                        <span class="glyphicon glyphicon-map-marker">&nbsp;</span>View Map
                    </button>
                        </div>
                        </div>
                        <div class="form-group" id="searchLocationGroup">
                            <label for="description">Search Location: </label>
                            <input type="text" class="form-control" id="us3-address" placeholder="Masukkan lokasi" autocomplete="off">
                        </div>
                        <button type="button" id="getLocation" class="btn btn-raised btn-primary btn-block">Get From Current Location</button>
                        <div id="alertLocationNotFound" class="alert alert-danger alert-dismissable hidden">
                            <strong>Current location not found</strong>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" rows="3" id="description" name="description" >{{place.description}}</textarea>
                            <div id="errorDescription" class="alert alert-danger alert-dismissable" style="display: none;">
                                <strong>Please Input Description</strong>
                            </div>
                        </div>
                        <div>
                            <div>
                                <br>
                            </div>
                            <div id="shareList" class="list-group"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
</div>